/* Center-align text within the body + background GIF */
body {
    background-image: url("astronaught.gif");
    background-size: cover;
    background-repeat: no-repeat;
      text-align: center;
}
 /* Center-align text within Header*/
 header {
    text-align: center;
    color: white;
 }