/* Shared Styles via Styles, Classes & ID*/

/* Center-align text within the body + background GIF */
.bodytextcenterbackground {
    background-image: url("astronaught.gif");
    background-size: cover;
    background-repeat: no-repeat;
      text-align: center;
    }
    

/* Center-align text within specific elements + text shadow + transparent padding beneath specific elements + color of font*/
 .container {
    color: whitesmoke;
    text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
    text-align: center;
    background: rgba(0, 0, 0, 0.5); /* 50% transparent black background */
    padding: 10px;
    border-radius: 10px;
  }