/* Shared Styles via Classes & ID*/

/* Center-align text within specific elements + transparent padding beneath specific elements + color of font*/
 .container {
    color: whitesmoke;
    text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
    text-align: center;
    background: rgba(0, 0, 0, 0.5); /* 50% transparent black background */
    padding: 10px;
    border-radius: 10px;
  }